
body{
	background-color:#f5f5f5;

}

#titlediv #title-prompt-text {
    padding: 5px 10px 5px 10px !important;
}

.panel-default>.panel-heading {
    background: #e66a55 !important;
    color: #fff !important;
    border-color: #ddd;
}

.panel-title a{
	font-size:14px;
}

.equipo-field {
	margin:1% 0;
}

.linea{
	margin:30px 0;
}

.equipo-field input{
	width:20%;
	margin-top:10px;
}

.equipo-field label{
	font-size:16px;
}

.equipo-boton a{
	width:100%;
	text-align: center;
	-webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.equipo-boton a:hover{
	background: #2a2a2a !important;
    color: #fff !important;
    border:none;
}

.more-less {float: right; color: #212121;}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
    background: #e66a55;
    color: #fff;